{% extends 'base.html.twig' %}

{% block title %}Edit Actuality{% endblock %}

{% block body %}
    <section class="bg-primary text-white h-75" id="Actualites" style="padding-top:110px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Editer une actualité</h1>
                    <a class="btn btn-link float-left" href="{{ path('actuality_index') }}">Revenir à l'index</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    {{ include('actuality/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                    {{ include('actuality/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}